/*http://codepen.io/cchambers/pen/diCFl*/

@import './mixins/animation'

.invisible
  visibility hidden

.wrap
  position relative
  margin 0 auto
  line-height 6rem
  text-align center

.loader
  position relative
  margin 0 auto
  overflow hidden
  > div
    position absolute
    top 0
    left 0
    height 100%
    width 100%
  .one
    background-color #3369E8
  .two
    background-color #EEB211
  .three
    background-color #009925
  .four
    background-color #D50F25

.bar
  width 100%
  height .5rem
  top 0
  left 0

.go .loader.bar > div
  animation-shorthand(loading-bar, 2s, ease-out, 0s, infinite, backwards)

.bar > div
  transform scaleX(1)

.loader.bar div:nth-child(1)
  animation-delay("-1.5s")

.loader.bar div:nth-child(2)
  animation-delay("-1s")

.loader.bar div:nth-child(3)
  animation-delay("-.5s")

.loader.bar div:nth-child(4)
  animation-delay("0s")

@keyframes loading-bar
  0%
    transform scaleX(0)
    z-index 15
  22%
    transform scaleX(0)
    z-index 15
  50%
    transform scaleX(1)
  90%
    transform scaleX(1)
    z-index 7
  100%
    transform scaleX(1)
    z-index 6
